<!--<div class="example-action-buttons">-->
<!--  <button mat-button (click)="accordion.openAll()">Expand All</button>-->
<!--  <button mat-button (click)="accordion.closeAll()">Collapse All</button>-->
<!--</div>-->
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Friday, January 8, 2021
      </mat-panel-title>
      <mat-panel-description>
        7.25 Capital Hours, 0 Milestones
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ul style="list-style-type: none">
      <li>Worked on EA Bank Account User Story -- 90% complete</li>
      <li class="mat-elevation-z1">
        <mat-grid-list cols="4" rowHeight="50px" style="margin: 5px;">
          <mat-grid-tile
            colspan="3"
            rowspan="1">
            Pmt Arrangements Sorting
          </mat-grid-tile>
          <mat-grid-tile
            style="background-color: #F0F0F0;"
            colspan="1"
            rowspan="2">
            101-14554-1564<br>
            130688
          </mat-grid-tile>
          <mat-grid-tile
            style="background-color: #F0FFF0;"
            colspan="1"
            rowspan="1">
            Task<br>Q1 / Sprint 1
          </mat-grid-tile>
          <mat-grid-tile
            style="background-color: #F0F0FF;"
            colspan="2"
            rowspan="1">
            Prepare a scope of work for Bharti for Banner changes to support filtering of payment arrangement scenarios
          </mat-grid-tile>
        </mat-grid-list>
      </li>

      <li>Put together a task list for deployment on Wed</li>
      <li>Researched security issues that come with doing a file upload that is unsecured, and how to mitigate risk</li>
      <li>PR2757 - completed PR with comments, waiting on Alex</li>
    </ul>


  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Saturday, January 9, 2021
      </mat-panel-title>
      <mat-panel-description>
        6 Capital Hours, 1 Milestone
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ul>
      <li>Did a trial merge from 8-3 RC into 9-9 RC.  No issues were encountered.  The trial merge target is named RC_WebsiteNext_2020_09_09_Merge_08_03</li>
      <li>Changed Bug 130479 to a User Story (130619)</li>
      <li>Added User Story for hardening security on ID Verification File Upload (130617)</li>
      <li>Completed PR 2807 for Alex</li>
      <li>Submit PR for EA Bank Account User Story (130619)</li>
    </ul>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sunday, January 10, 2021
      </mat-panel-title>
      <mat-panel-description>
        5.5 Capital Hours, 2 Milestones
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ul>
      <li>Completed Bug 130152</li>
      <li>Started Bug 130149</li>
      <li>Did Production Rollout</li>
      <li>Worked on production issue w/ Scott</li>
    </ul>

  </mat-expansion-panel>
</mat-accordion>
