<form #formElement="ngForm" (ngSubmit)="save()">
  <div class="sprints-container">
    <div class="sprints-item-4">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input
          matInput
          placeholder="Sprint Description"
          id="description"
          type="text"
          required
          [(ngModel)]="sprint.description"
          name="description"
          #descriptionVar="ngModel"
          [ngClass]="{'is-invalid': descriptionVar.touched && !descriptionVar.valid }"
          />
        <mat-error *ngIf="descriptionVar.invalid">Description is required</mat-error>
      </mat-form-field>
    </div>
    <div class="sprints-item-4">
      <mat-form-field>
        <mat-label>From date</mat-label>
        <input
          matInput
          placeholder="Sprint starts on..."
          id="fromDate"
          required
          [(ngModel)]="sprint.fromDate"
          name="fromDate"
          #fromDateVar="ngModel"
          [ngClass]="{'is-invalid': fromDateVar.touched && !fromDateVar.valid }"
          [matDatepicker]="fromPicker"
          value="3/1/2021"/>
        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
        <mat-datepicker #fromPicker></mat-datepicker>
        <mat-error *ngIf="fromDateVar.invalid">A valid date is required</mat-error>
      </mat-form-field>
    </div>
    <div class="sprints-item-3">
      <mat-form-field>
        <mat-label>To date</mat-label>
        <input
          matInput
          placeholder="Sprint finishes on..."
          id="toDate"
          required
          [(ngModel)]="sprint.toDate"
          name="toDate"
          #toDateVar="ngModel"
          [ngClass]="{'is-invalid': toDateVar.touched && !toDateVar.valid }"
          [matDatepicker]="toPicker"
          value="3/14/2021"/>
        <mat-datepicker-toggle
          matSuffix
          [for]="toPicker">
        </mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>
        <mat-error *ngIf="toDateVar.invalid">A valid date is required</mat-error>
      </mat-form-field>
    </div>
    <div class="sprints-item-1">
      <button
        style="margin-left: 10px;"
        mat-icon-button
        color="primary"
        aria-label="Save"
        [disabled]="formElement.invalid">
        <mat-icon>save</mat-icon>
      </button>
      <button
        (click)="cancel()"
        mat-icon-button
        color="primary"
        aria-label="Save"
        *ngIf="!formElement.invalid">
        <mat-icon>cancel</mat-icon>
      </button>
      <button
        (click)="new()"
        mat-icon-button
        color="primary"
        aria-label="New"
        *ngIf="formElement.invalid">
        <mat-icon>create</mat-icon>
      </button>
    </div>
  </div>
</form>
<div class="container">
  <div
    *ngFor="let sp of sprints"
    class="row"
    [ngClass]="{ 'selected-item': sp.id === sprint.id }"
    (click)="itemClick(sp)">
    <div class="four columns">14</div>
    <div class="three columns">14</div>
    <div class="two columns">14</div>
    <div class="three columns">14</div>
  </div>
</div>
