.app-container {
  background-color: rgba(0,0,0,0);
  width: 100%;
  height: calc(100% - 64px);
}

a {
  display: block;
}

.icon-text {
  text-align: left;
}

.icon-text .mat-icon {
  position: relative;
  top: 6px;
  left: -5px;
}

.active {
  background-color: rgba(0,0,0,.05);
}

.app-main-content {
  padding: 20px;
  height: calc(100% - 40px);
}

.app-sidenav {
  background-color: rgba(0,0,0,.05);
  padding: 10px;
}

.app-spacer {
  flex: 1 1 auto;
}
