.app-container {
  background-color: rgba(0,0,0,0);
  width: 100%;
  height: calc(100% - 64px);
}

a {
  text-decoration: none;
}

.active {
  font-weight: 500 !important;
}

.app-main-content {
  padding: 20px;
  display: flex;
  height: calc(100% - 40px);
  align-items: flex-start;
  justify-content: left;
}

.app-sidenav {
  background-color: rgba(0,0,0,.05);
  padding: 20px;
}

.app-spacer {
  flex: 1 1 auto;
}
